.footer {
	position: relative;
	flex: 0 0 auto;
	min-width: 320px;
	overflow: hidden;
	background-color: var(--black-color);
	color: var(--white-color);

	.decor {
		left: 50%;
		transform: translateX(-50%);
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}
	&__owner {
		color: var(--gray2-color);
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.42px;
		text-transform: uppercase;
	}
	&__privacy-policy {}
}
@media (min-width: 992px) {
	.footer {
		padding-top: 80px;
		padding-bottom: 80px;

		.decor {
			bottom: -670px;
		}

		.logo {
			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.footer {
		padding-top: 60px;
		padding-bottom: 60px;

		.decor {
			bottom: -250px;
		}

		.logo {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
}
