:root {
	// base
	--font-family-base: "Visuelt Pro", sans-serif;
	--content-width: 1280px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--black-color: #0F1417;
	--white-color: #FFFFFF;

	--gray1-color: #1B2225;
	--gray2-color: #2E3739;
	--gray3-color: rgba(32, 35, 38, 0.8);
	--gray4-color: rgba(15, 20, 23, 0.4);
	--gray5-color: rgba(77, 89, 92, 0.5); // gray-cyan-50
	--gray6-color: rgba(77, 89, 92, 0.2); // gray-cyan-20
	--gray7-color: rgba(255, 255, 255, 0.6);
	--gray8-color: rgba(15, 20, 23, 0.5); //

	--cyan1-color: #00BBDD;
	--cyan2-color: #2DD1EF;
	--cyan3-color: rgba(0, 187, 221, 0.4);
	--orange-color: #F86300;
	--red-color: #FA381E;
	--green-color: #00DD73;
	--purple-color: #CC60FF;

	--shadow: 0 12px 32px -12px rgba(0, 0, 0, 0.5);
	--shadow-orange: 0 12px 32px -12px rgba(246, 103, 2, 0.5);
	--shadow-cyan: 0 12px 32px -12px rgba(246, 103, 2, 0.5);
	--shadow-cyan2: 0 12px 48px -12px rgba(246, 103, 2, 0.5);

	// fancybox
	--fancybox-scrollbar-compensate: 17px;
	--fancybox-bg: rgba(0, 0, 0, 0.7);

	// transition
	--transition: 0.2s ease-out;
}
@media (min-width: 992px) {
	:root {
		--container-offset: 60px;
	}
}
@media (max-width: 991.98px) {
	:root {
		--container-offset: 16px;
	}
}