// базовые подключения
@import "vars";
@import "fonts";
@import "./helpers/grid-bootstrap";
@import "./helpers/ui";
@import "../../node_modules/swiper/swiper-bundle";
@import "../../node_modules/@fancyapps/ui/dist/fancybox";
@import "../../node_modules/tippy.js/dist/tippy";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 320px;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.top-screen {
		padding-top: 213px;
	}
}
@media (max-width: 575.98px) {
	.top-screen {
		padding-top: 120px;
	}
}
@media (min-width: 576px) and (max-width: 1199.98px) {
	.top-screen {
		padding-top: 100px;
	}
}

.main-screen {
	position: relative;

	&__bgi {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: right top;
		background-size: contain;
	}
	&__descr {
		position: relative;
	}
}
@media (min-width: 992px) {
	.main-screen {
		&__descr {
			min-width: 780px;
			width: 780px;
		}
		&__booking {
			min-width: 530px;
			width: 530px;
		}
	}
}

.laser-advantages {
	display: flex;

	&__title {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__content {
		color: var(--gray7-color);
		font-size: 14px;
	}
}
@media (min-width: 992px) {
	.laser-advantages {
		gap: 120px;
	}
}
@media (max-width: 991.98px) {
	.laser-advantages {
		flex-direction: column;
		gap: 40px;
	}
}