// базовые подключения
@import "vars";
@import "fonts";
@import "./helpers/grid-bootstrap";
@import "./helpers/ui";
@import "../../node_modules/swiper/swiper-bundle";
@import "../../node_modules/@fancyapps/ui/dist/fancybox";
@import "../../node_modules/tippy.js/dist/tippy";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 320px;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.top-screen {
		padding-top: 213px;
	}
}
@media (max-width: 575.98px) {
	.top-screen {
		padding-top: 120px;
	}
}
@media (min-width: 576px) and (max-width: 1199.98px) {
	.top-screen {
		padding-top: 100px;
	}
}

.main-screen {
	position: relative;

	&__bgi {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: right top;
		background-size: contain;
	}
	&__descr {
		position: relative;
	}
}
@media (min-width: 992px) {
	.main-screen {
		&__descr {
			min-width: 780px;
			width: 780px;
		}
		&__booking {
			min-width: 530px;
			width: 530px;
		}
	}
}

.laser-advantages {
	display: flex;

	&__title {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__content {
		color: var(--gray7-color);
		font-size: 14px;
	}

	&-cards {
		.laser-advantages__item {
			display: flex;
			overflow: hidden;
			border: 1px solid var(--gray5-color);
			border-radius: 8px;
			background-color: var(--gray6-color);
		}
		.laser-advantages__view {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-1px, -1px);
				min-width: 2px;
				width: 2px;
				min-height: 2px;
				height: 2px;
				border-radius: 50%;
				box-shadow: 0 8px 48px 8px rgba(0, 187, 221, 0.6);
			}
		}
		.laser-advantages__title {
			font-weight: 500;
		}
	}

	&-script {
		display: flex;
		margin-bottom: 80px;

		&__title {
			line-height: 1;
			letter-spacing: -0.2px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__content {
			color: var(--gray8-color);
			font-size: 14px;
		}
	}
}
@media (min-width: 992px) {
	.laser-advantages {
		&__item {
			flex: 1;
		}

		&-cards {
			display: grid;
			gap: 20px;

			.laser-advantages__item {
				flex-direction: column;
				gap: 20px;
				padding: 24px 24px 20px;
			}
			.laser-advantages__view {
				min-width: 48px;
				width: 48px;
				min-height: 48px;
				height: 48px;
			}
			.laser-advantages__title {
				display: flex;
				flex: 1;
				align-items: flex-end;
				min-height: 48px;
			}
		}

		&-script {
			&__item {
				min-width: 275px;
				width: 275px;

				&:nth-child(2) {
					margin-right: auto;
				}
				&:nth-child(n+3) {
					display: none;
				}
			}
			&__title {
				font-weight: 500;
				font-size: 72px;
			}
		}
	}
}
@media (min-width: 1400px) {
	.laser-advantages {
		gap: 120px;

		&-cards {
			grid-template-columns: repeat(3, 1fr);
		}

		&-script {
			gap: 80px;
		}
	}
}
@media (max-width: 991.98px) {
	.laser-advantages {
		flex-direction: column;
		gap: 40px;

		&-cards {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.laser-advantages__item {
				align-items: center;
				gap: 16px;
				padding: 24px 16px 20px 24px;
			}
			.laser-advantages__view {
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
			}
		}

		&-script {
			gap: 32px;

			&__item {
				flex: 1;
			}
			&__title {
				font-weight: 700;
				font-size: 48px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1399.98px) {
	.laser-advantages {
		gap: 80px;

		&-cards {
			grid-template-columns: repeat(2, 1fr);
		}

		&-script {
			gap: 40px;
		}
	}
}

.laser-event {
	&__item {
		position: relative;
		overflow: hidden;
		border-radius: 4px;

		&:hover {
			.laser-event__bg {
				transform: scale(1.05);
			}
			.laser-event__descr {
				bottom: 0;
			}
			.laser-event__action {
				opacity: 1;
			}
		}
	}
	&__bg {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-radius: 4px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: var(--transition);
	}
	&__descr {
		position: absolute;
		top: 0;
		right: 0;
		bottom: -72px;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 20px;
		padding: 24px;
		transition: var(--transition);

		&::before {
			content: "";
			z-index: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			min-height: 155px;
			height: 155px;
			background: linear-gradient(rgba(0, 0, 0, 0), #050505);
		}
	}
	&__title {
		position: relative;
		display: flex;
		flex: 1;
		align-items: flex-end;
		cursor: default;
	}
	&__action {
		position: relative;
		display: flex;
		flex-direction: column;
		opacity: 0;
		transition: var(--transition);
	}
}
@media (min-width: 992px) {
	.laser-event {
		.reset-slider-list {
			display: grid;
			gap: 20px;
		}
		&__item,
		&__bg {
			aspect-ratio: 9/16;
		}
	}
}
@media (min-width: 1200px) {
	.laser-event {
		.reset-slider-list {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
@media (max-width: 991.98px) {
	.laser-event {
		&__item.swiper-slide,
		&__bg {
			min-width: 223px;
			width: 223px;
			min-height: 378px;
			height: 378px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.laser-event {
		.reset-slider-list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.laser-client-tag {
	display: flex;
	gap: 24px;

	&__board {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__action {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		overflow: hidden;
	}
}
@media (min-width: 992px) {
	.laser-client-tag {
		&__board {
			flex: 1;
		}
		&__action {
			justify-content: flex-end;
			align-items: flex-end;
		}
	}
}
@media (min-width: 1200px) {
	.laser-client-tag {
		&__list {
			gap: 20px 48px;
		}
		&__action {
			min-width: 360px;
			width: 360px;
		}
	}
}
@media (max-width: 991.98px) {
	.laser-client-tag {
		flex-wrap: wrap;

		&__board,
		&__action {
			min-width: 100%;
			width: 100%;
		}
		&__list {
			gap: 16px 20px;
		}
		&__item {
			flex: 1;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.laser-client-tag {
		&__list {
			gap: 20px 32px;
		}
		&__action {
			min-width: 300px;
			width: 300px;
		}
	}
}

.laser-extra-fun {
	&__list {
		display: flex;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4px;
		overflow: hidden;
		border: 1px solid var(--gray5-color);
		border-radius: 8px;
		background-color: var(--gray6-color);
	}
	&__label {
		z-index: 0;
		position: absolute;
		top: 8px;
		right: 8px;
	}
	&__content {
		color: var(--gray7-color);
		font-size: 14px;
	}
}
@media (min-width: 992px) {
	.laser-extra-fun {
		&__list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;
		}
		&__item {
			padding: 36px 24px;

			&--wide {
				grid-column: span 2;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.laser-extra-fun {
		&__list {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		&__item {
			padding: 20px 70px 20px 20px;
		}
	}
}

.laser-action {
	display: flex;
}
@media (max-width: 991.98px) {
	.laser-action {
		flex-direction: column;
	}
}

.laser-focus {
	.image {
		overflow: hidden;
		border-radius: 8px;
	}
}
@media (min-width: 992px) {
	.laser-focus {
		.image {
			aspect-ratio: 16/6;
		}
	}
}
@media (max-width: 991.98px) {
	.laser-focus {
		.image {
			aspect-ratio: 16/11;
		}
	}
}

.laser-contacts {
	display: flex;
	flex-direction: column;
	gap: 32px;

	&__item {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	&__base {
		display: flex;
		align-items: flex-start;
	}
	&__view,
	&__caption {
		display: flex;
	}
	&__caption {
		color: var(--gray7-color);
	}

	&-social {
		.icon {
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;
		}
	}
}
@media (min-width: 992px) {
	.laser-contacts {
		&__base {
			gap: 16px;
		}
		&__view {
			padding: 4px;

			.icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
		}
		&__caption {
			padding-left: 48px;
		}
	}
}
@media (max-width: 991.98px) {
	.laser-contacts {
		&__base {
			gap: 12px;
		}
		&__view {
			padding: 2px;

			.icon {
				min-width: 20px;
				width: 20px;
				min-height: 20px;
				height: 20px;
			}
		}
		&__caption {
			padding-left: 36px;
		}
	}
}

.contact-map {
	.image {
		min-width: 100%;
		width: 100%;
	}
}
@media (min-width: 992px) {
	.contact-map {
		.image {
			aspect-ratio: 16/6;
		}
	}
}
@media (max-width: 991.98px) {
	.contact-map {
		.image {
			aspect-ratio: 12/16;
		}
	}
}

.laser-gallery-slider {
	cursor: grab;

	.swiper-slide {
		width: auto;
		overflow: hidden;

		.image {
			border-radius: 8px;
		}
	}
}
@media (min-width: 992px) {
	.laser-gallery-wrapper {
		&.slider-out {
			.swiper {
				overflow: visible;
			}
		}
	}
	.laser-gallery-slider {
		.swiper-slide {
			&,
			.image {
				/*min-width: 100%;
				width: 100%;*/
				min-height: 380px;
				height: 380px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.laser-gallery-slider {
		.swiper-slide {
			&,
			.image {
				min-height: 170px;
				height: 170px;
			}
		}
	}
}

.laser-script-slider-wrapper {
	position: relative;

	.swiper-navigation {
		z-index: 1;
		min-width: 116px;
		width: 116px;
		min-height: 48px;
		height: 48px;
		margin: 0;
	}
}
.laser-script-slider {
	cursor: grab;

	.swiper-slide {
		width: auto;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;

		&:hover {
			.laser-script-slider__view {
				.image {
					transform: scale(1.05);
				}
			}
			.laser-script-slider__descr {
				color: var(--black-color);

				.icon {
					fill: var(--black-color);
					stroke: var(--black-color);
				}
			}
		}
	}
	&__view {
		display: flex;
		overflow: hidden;
		border-radius: 8px;

		.image {
			transition: var(--transition);
		}
	}
	&__descr {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding-top: 16px;
	}
	&__caption {
		display: flex;
		flex-direction: column;
		gap: 4px;
		color: var(--gray8-color);
		cursor: default;
		transition: var(--transition);

		&-item {
			display: flex;
			align-items: center;
			gap: 8px;
		}
		.icon {
			min-width: 16px;
			width: 16px;
			min-height: 16px;
			height: 16px;
			fill: var(--gray8-color);
			stroke: var(--gray8-color);
		}
	}
}
@media (min-width: 992px) {
	.laser-script-slider-wrapper {
		&.slider-out {
			.swiper {
				overflow: visible;
			}
		}
	}
	.laser-script-slider {
		&__item {
			&:hover {
				.laser-script-slider__action {
					z-index: 2;
					top: 328px;
					opacity: 1;
				}
			}
		}
		&__view {
			z-index: 0;

			&,
			.image {
				min-width: 305px;
				width: 305px;
				min-height: 400px;
				height: 400px;
			}
		}
		&__action {
			z-index: -1;
			position: absolute;
			top: 285px;
			right: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			opacity: 0;
			transition: var(--transition);
		}
		&__descr {
			z-index: 2;
			border-radius: 0 0 4px 4px;
			background-color: var(--white-color);
		}
	}
}
@media (min-width: 1200px) {
	.laser-script-slider-wrapper {
		padding-left: 325px;

		.swiper-navigation {
			top: -128px;
			right: 0;
		}
	}
}
@media (max-width: 1199.98px) {
	.laser-script-slider-wrapper {
		padding-top: 20px;

		.swiper-navigation {
			top: -60px;
		}
	}
}
@media (max-width: 991.98px) {
	.laser-script-slider-wrapper {
		.swiper-navigation {
			left: 16px;
		}
	}
	.laser-script-slider {
		&__view {
			order: 1;

			&,
			.image {
				min-width: 260px;
				width: 260px;
				min-height: 340px;
				height: 340px;
			}
		}
		&__descr {
			order: 2;
		}
		&__action {
			order: 3;
			padding-top: 16px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.laser-script-slider-wrapper {
		padding-left: 300px;

		.swiper-navigation {
			left: 300px;
		}
	}
}

.laser-tariff-slider-wrapper {
	position: relative;
}
.laser-tariff-slider {
	&__item {
		display: flex;
		flex-direction: column;
	}
	&__title {}
	.tariff-name {
		display: block;
		font-weight: 700;
	}
	&__descr {
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;

			&.laser-tariff-slider__descr-item--check {
				.laser-tariff-slider__descr-value {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.caption {
			display: block;
			color: var(--gray7-color);
		}
		&-price {
			color: var(--purple-color);
		}
		&-value {
			.icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;

				&:not(.plus) {
					fill: #687274;
					stroke: #687274;
				}
				&.plus {
					fill: var(--cyan1-color);
					stroke: var(--cyan1-color);
				}
			}
		}
		&-hr {
			padding: 0;
		}
	}
}
@media (min-width: 992px) {
	.laser-tariff-slider-wrapper {
		&.slider-out {
			.swiper {
				overflow: visible;
			}
		}
	}
	.laser-tariff-slider {
		.reset-slider-list {
			display: grid;
			gap: 20px;
			width: 100%;
			height: auto !important;
			transform: unset !important;
		}

		.slide-desktop-sidebar {
			.laser-tariff-slider__descr {
				&-item {
					&--hr {
						overflow: visible;
					}
				}
			}
		}
		.swiper-slide {
			&:not(.slide-desktop-sidebar) {
				.laser-tariff-slider__descr {
					&-title {
						z-index: -1;
						opacity: 0;
						user-select: none;
						pointer-events: none;
					}
					&-value {
						z-index: 1;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						overflow: hidden;
					}
				}
			}
		}

		&__item {
			gap: 40px;
		}
		&__descr {
			gap: 40px;

			&-item {
				position: relative;
				overflow: hidden;

				&--gap-more {
					margin-bottom: 20px;
				}
				&--extra-fun {
					.laser-tariff-slider__descr-title {
						display: -webkit-box;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}
			&-hr {
				&.decor-bt {
					&::before {
						right: unset;
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.laser-tariff-slider {
		.reset-slider-list {
			grid-template-columns: 305px 1fr 1fr 1fr 1fr;
		}

		.slide-desktop-sidebar {
			.laser-tariff-slider__descr {
				padding-right: 20px;
			}
		}
		.swiper-slide {
			&:not(.slide-desktop-sidebar) {
				.laser-tariff-slider__descr {
					&-title {
						margin-right: calc((285px - (((100vw - 120px) - 305px - 80px) / 4)) * -1);
					}
					&-value {
						min-width: calc(((100vw - 120px) - 305px - 80px) / 4);
						width: calc(((100vw - 120px) - 305px - 80px) / 4);
					}
				}
			}
		}

		&__descr {
			&-item {
				&--extra-fun {
					.laser-tariff-slider__descr-title {
						-webkit-line-clamp: 2;
						min-height: 48px;
						height: 48px;
					}
				}
			}
		}
	}
}
@media (min-width: 1400px) {
	.laser-tariff-slider {
		&__descr {
			&-hr {
				&.decor-bt {
					&::before {
						min-width: calc(1280px - 20px);
						width: calc(1280px - 20px);
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.laser-tariff-slider {
		cursor: grab;

		.swiper-slide {
			width: auto;
			height: auto;
		}
		.slide-desktop-sidebar {
			display: none;
		}
		&__item {
			gap: 24px;
			min-width: 305px;
			width: 305px;
			min-height: 100%;
			height: 100%;
			padding: 20px 20px 60px 20px;
			border: 1px solid var(--gray5-color);
			border-radius: 8px;
			background-color: var(--gray6-color);
		}
		&__descr {
			gap: 24px;

			&-item {
				&:not(.laser-tariff-slider__descr-item--check) {
					flex-direction: column;
					gap: 4px;
				}
				&.laser-tariff-slider__descr-item--check {
					justify-content: space-between;
					align-items: center;
					gap: 20px;
				}
			}
			&-title {
				color: var(--gray7-color);
			}
		}
	}
}
@media (max-width: 374.98px) {
	.laser-tariff-slider {
		&__item {
			min-width: 255px;
			width: 255px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.laser-tariff-slider {
		.reset-slider-list {
			grid-template-columns: 280px 1fr 1fr 1fr 1fr;
		}

		.slide-desktop-sidebar {
			.laser-tariff-slider__descr {
				padding-right: 16px;
			}
		}
		.swiper-slide {
			&:not(.slide-desktop-sidebar) {
				.laser-tariff-slider__descr {
					&-title {
						margin-right: calc((264px - (((100vw - 120px) - 280px - 80px) / 4)) * -1);
					}
					&-value {
						min-width: calc(((100vw - 120px) - 280px - 80px) / 4);
						width: calc(((100vw - 120px) - 280px - 80px) / 4);
					}
				}
			}
		}

		&__title {
			font-size: 24px;
		}
		&__descr {
			&-item {
				&--extra-fun {
					.laser-tariff-slider__descr-title {
						-webkit-line-clamp: 3;
						min-height: 60px;
						height: 60px;
						font-size: 14px;
						line-height: 20px;
					}
					.laser-tariff-slider__descr-value {
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
			&-price {
				font-size: 24px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1399.98px) {
	.laser-tariff-slider {
		&__descr {
			&-hr {
				&.decor-bt {
					&::before {
						min-width: calc(100vw - 120px - 20px);
						width: calc(100vw - 120px - 20px);
					}
				}
			}
		}
	}
}

.laser-review {
	&-audio {
		.laser-review__item {
			display: flex;
			align-items: center;
		}
		.laser-review__view {
			display: flex;
			justify-content: center;
			align-items: center;

			.image {
				overflow: hidden;
				border-radius: 50%;
			}
		}
		.laser-review__content {
			display: flex;
			flex: 1;
			flex-direction: column;
		}
		/*.laser-review__player {
			border-radius: 8px;
			background-color: var(--gray6-color);
		}*/
	}
	&-text {
		.laser-review__item {
			display: flex;
			flex-direction: column;
			border: 1px solid var(--gray5-color);
			border-radius: 8px;
			background-color: var(--gray6-color);
		}
		.laser-review__header {
			display: flex;
			align-items: center;
		}
		.laser-review__view {
			display: flex;
			justify-content: center;
			align-items: center;

			.image {
				overflow: hidden;
				border-radius: 50%;
			}
		}
		.laser-review__data {
			display: flex;
			flex-direction: column;
			gap: 2px;
		}
		.laser-review__date {
			color: var(--gray7-color);
		}
		.laser-review__content {
			display: flex;
			flex: 1;
			flex-direction: column;
		}
	}
	&-photo {
		.laser-review__item {
			.image {
				min-height: 100%;
				height: 100%;
				min-width: 100%;
				width: 100%;
			}
		}
	}
	&-video {
		.laser-review__item {
			aspect-ratio: 16/11;
		}
	}
}
@media (min-width: 992px) {
	.laser-review {
		&-spoiler {
			max-height: 860px;
		}
		&-tabs {
			.basic-tabs-content {
				&__content {
					max-width: var(--container-width);
					width: 100%;
					padding-right: var(--container-offset);
					padding-left: var(--container-offset);
					margin-right: auto;
					margin-left: auto;
				}
			}
			.spoiler-trigger {
				&-wrapper {
					min-height: 420px;
					height: 420px;
					padding-bottom: 120px;
				}
			}
		}

		&-audio {
			display: grid;
			gap: 48px;

			.laser-review__item {
				gap: 20px;
			}
			.laser-review__view {
				.image {
					min-width: 80px;
					width: 80px;
					min-height: 80px;
					height: 80px;
				}
			}
			.laser-review__content {
				gap: 12px;
			}
			/*.laser-review__player {
				min-height: 52px;
				height: 52px;
				padding: 8px 8px 16px;
			}*/
		}
		&-text {
			column-gap: 20px;

			.laser-review__item {
				gap: 16px;
				margin-bottom: 20px;
				padding: 20px 24px;
				break-inside: avoid;
			}
			.laser-review__header {
				gap: 16px;
			}
			.laser-review__view {
				.image {
					min-width: 60px;
					width: 60px;
					min-height: 60px;
					height: 60px;
				}
			}
		}
		&-photo {
			.reset-slider-list {
				display: grid;
				gap: 20px;
			}

			.laser-review__item {
				aspect-ratio: 16/11;
			}
		}
		&-video {
			display: grid;
			gap: 20px;
		}
	}
}
@media (min-width: 1200px) {
	.laser-review {
		&-tabs {
			.basic-tabs-container-wrapper {
				padding-left: 325px;
			}
		}
	}
}
@media (min-width: 1400px) {
	.laser-review {
		&-tabs {
			.basic-tabs-content {
				margin-right: calc(((100vw - 17px - 1280px) / 2) * -1);
				margin-left: calc(((100vw - 17px - 1280px) / 2) * -1);
			}
		}

		&-audio {
			grid-template-columns: repeat(3, 1fr);
		}
		&-text {
			column-count: 3;
		}
		&-photo {
			.reset-slider-list {
				grid-template-columns: repeat(3, 1fr);
			}
		}
		&-video {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media (max-width: 991.98px) {
	.laser-review {
		&-spoiler {
			max-height: 1000px;
		}
		&-tabs {
			.spoiler-trigger {
				&-wrapper {
					min-height: 150px;
					height: 150px;
					padding-bottom: 40px;
				}
			}
		}

		&-audio {
			display: flex;
			flex-direction: column;
			gap: 32px;

			.laser-review__item {
				gap: 16px;
			}
			.laser-review__view {
				.image {
					min-width: 60px;
					width: 60px;
					min-height: 60px;
					height: 60px;
				}
			}
			.laser-review__content {
				gap: 4px;
			}
			/*.laser-review__player {
				min-height: 48px;
				height: 48px;
				padding: 8px 6px 16px;
			}*/
		}
		&-text {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.laser-review__item {
				gap: 12px;
				padding: 16px;
			}
			.laser-review__header {
				gap: 12px;
			}
			.laser-review__view {
				.image {
					min-width: 40px;
					width: 40px;
					min-height: 40px;
					height: 40px;
				}
			}
		}
		&-photo {
			.laser-review__item {
				min-width: 320px;
				width: 320px;
				min-height: 215px;
				height: 215px;
			}
		}
		&-video {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.laser-review {
		&-video {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.laser-review {
		&-tabs {
			.basic-tabs-container-wrapper {
				padding-left: 300px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1399.98px) {
	.laser-review {
		&-tabs {
			.basic-tabs-content {
				margin-right: -60px;
				margin-left: -60px;
			}
		}

		&-audio {
			grid-template-columns: repeat(2, 1fr);
		}
		&-text {
			column-count: 2;
		}
		&-photo {
			.reset-slider-list {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		&-video {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}